@media (max-width: 1200px){
   
}

@media (max-width: 991px){
    .header .container .navbar{
        display: none;
    }


    .navegation .container{
        position: fixed;
        bottom: 0%;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        background-color: var(--btn-hero_hover);
        border-radius: 1px;
        border-top: 10px solid var(--btn-hero);
    }
    
    .navegation ul{
        display: flex;
        width: 300px;
        gap: 1rem;
    }
    
    .navegation ul li{
        position: relative;
        list-style: none;
        width: 70px;
        height: 70px;
        z-index: 1;
    }
    
    .navegation ul li a{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        text-align: center;
        font-weight: 500;
    }
    
    .navegation ul li a .icon{
        position: relative;
        display: block;
        line-height: 75px;
        font-size: 1.7rem;
        text-align: center;
        transition: 0.5s;
        color: var(--white);
    }
    
    .navegation ul li.active a .icon{
        transform: translateY(-32px);
    }
    
    .navegation ul li a .text{
        position: absolute;
        color: var(--white);
        font-weight: 400;
        font-size: 1.5rem;
        letter-spacing: 0.05em;
        transition: 0.5s;
        opacity: 0;
        transform: translateY(20px);
    }
    
    .navegation ul li.active a .text{
        opacity: 1;
        transform: translateY(10px);
    }
    
    .indicator{
        position: absolute;
        top: -50%;
        width: 70px;
        height: 70px;
        background: var(--navegation-hover);
        border-radius: 50%;
        border: solid 6px var(--btn-hero_hover);
        transition: 0.5s;
    }
    
    .indicator::before{
        content: '';
        position: absolute;
        top: 50.845%;
        left: -18px;
        width: 25px;
        height: 25px;
        background: transparent;
        border-top-right-radius: 30px;
        box-shadow: 1px -10px 0 0 var(--btn-hero);
    }
    
    
    .indicator::after{
        content: '';
        position: absolute;
        top: 50.845%;
        right: -18px;
        width: 25px;
        height: 20px;
        background: transparent;
        border-top-left-radius: 30px;
        box-shadow: -1px -10px 0 0 var(--btn-hero);
    }
    
    
    .navegation ul li:nth-child(1).active ~ .indicator{
        transform: translateX(calc(70px * 0));
    }
    
    .navegation ul li:nth-child(2).active ~ .indicator{
        transform: translateX(calc(75px * 1));
    }
    
    .navegation ul li:nth-child(3).active ~ .indicator{
        transform: translateX(calc(77px * 2));
    }
    
    .navegation ul li:nth-child(4).active ~ .indicator{
        transform: translateX(calc(78px * 3));
    }
    
    
}

@media (max-width: 488px){
    .navegation ul li a .icon{
        position: relative;
        display: block;
        line-height: 75px;
        font-size: 1.7rem;
        text-align: center;
        transition: 0.5s;
        color: var(--white);
    }
}
