:root{
    --background-blue: #0f518e;
    --white: #fff;
    --navegation-hover: #0084fe;
    --bg-white: #D6D6D6;
    --btn-hover: #dadad173;
    --black-text: #0A0808;
    --black-p: #6a6a6a;
    --btn-hero: #0084fe;
    --hover-card: #b9b9b9;
    --btn-hero_hover: #3d6e9b;
}